<div class="index-main flex-center">
    <div>
        <form action="/artists" method="get" class="index-search flex-center">
            <input type="text" name="artist" placeholder="What artist are you looking for?">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</div>